# (C) 2025, 2026 Rodrigo Rodrigues da Silva <rodrigo@flowlexi.com>
# SPDX-License-Identifier: AGPL-3.0-or-later

stages:
  - test
  - security
  - release

image: python:3.11

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  SAST_STAGE: security
  SECRET_DETECTION_STAGE: security
  SECRET_DETECTION_ENABLED: "true"

cache:
  paths:
    - .cache/pip

pytest:
  stage: test
  script:
    - python -m pip install --upgrade pip -q
    - pip install -r requirements-cpu.txt -q
    - pip install ".[test]" -q
    - pytest -q
  artifacts:
    when: always
    reports:
      junit: junit.xml
    paths:
      - junit.xml
      - .pytest_cache
    expire_in: 1 week

# PyPI publish for final releases only (vX.Y.Z)
publish-pypi:
  stage: release
  script:
    - python -m pip install --upgrade build twine
    - python -m build
    - twine upload dist/* -u __token__ -p $PYPI_TOKEN
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v\d{1,4}\.\d{1,4}\.\d{1,4}$/'

# GitLab PyPI: all versioned tags (final, rc, alpha, beta, etc.)
publish-gitlab-pypi:
  stage: release
  script:
    - python -m pip install --upgrade build twine
    - python -m build
    - twine upload --repository-url "$CI_API_V4_URL/projects/$CI_PROJECT_ID/packages/pypi" dist/* -u __token__ -p $CI_JOB_TOKEN
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v\d{1,4}\.\d{1,4}\.\d{1,4}\S{0,16}$/'

# Test PyPI: release candidates only (vX.Y.Zrc0-rc999)
publish-testpypi:
  stage: release
  script:
    - python -m pip install --upgrade build twine
    - python -m build
    - twine upload --repository testpypi dist/* -u __token__ -p $TEST_PYPI_TOKEN
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v\d{1,4}\.\d{1,4}\.\d{1,4}rc\d{1,3}$/'

# Docker: release candidates (CPU only)
publish-docker-rc:
  stage: release
  image: docker:24.0.9
  services:
    - docker:24.0.9-dind
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  script:
    - export VERSION="${CI_COMMIT_TAG#v}"
    - make docker-build VERSION="$VERSION" REGISTRY="$CI_REGISTRY_IMAGE" IMAGE_NAME="patchvec" USE_CPU=1
    - make docker-push  VERSION="$VERSION" REGISTRY="$CI_REGISTRY_IMAGE" IMAGE_NAME="patchvec" USE_CPU=1
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v\d{1,4}\.\d{1,4}\.\d{1,4}rc\d{1,3}$/'

# Docker: final releases only (CPU + GPU)
publish-docker:
  stage: release
  image: docker:24.0.9
  services:
    - docker:24.0.9-dind
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  script:
    - export VERSION="${CI_COMMIT_TAG#v}"
    - make docker-build VERSION="$VERSION" REGISTRY="$CI_REGISTRY_IMAGE" IMAGE_NAME="patchvec" USE_CPU=0
    - make docker-push  VERSION="$VERSION" REGISTRY="$CI_REGISTRY_IMAGE" IMAGE_NAME="patchvec" USE_CPU=0
    - make docker-build VERSION="$VERSION" REGISTRY="$CI_REGISTRY_IMAGE" IMAGE_NAME="patchvec" USE_CPU=1
    - make docker-push  VERSION="$VERSION" REGISTRY="$CI_REGISTRY_IMAGE" IMAGE_NAME="patchvec" USE_CPU=1
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v\d{1,4}\.\d{1,4}\.\d{1,4}$/'

include:
  - template: Security/SAST.gitlab-ci.yml
  - template: Security/Secret-Detection.gitlab-ci.yml
