include ABOUT.md
include README.md
include LICENSE
include config.yml.example
include requirements-cpu.txt
recursive-include pave *.py
recursive-include scripts *.sh
recursive-include pave/assets *
global-exclude __pycache__ *.py[cod] *.so